
* {
    box-sizing: border-box;
  }


  html, body {
    width: 100vw;
    margin: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif
  }


  body {
    display: grid;
    grid-template-rows: 1fr min-content;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  h2 {
    background: black;
    color: white;
    padding: 10px 20px; 
    margin: 0;
  }

  table {
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    font-size: 14px;
  }

  td, th {
      position: relative;
      padding: 5px 10px;
      border: 1px solid #000;
      border-top: none;
      border-left: none;
  }

  .link {
    cursor: pointer
  }

  .link::after {
    content:  url(./open.svg);
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
  }
  
  /* Sticky Header Rows */
  tr:first-child {
    position: sticky;
    top: 0;
    min-height: 30px;
    z-index: 2;
  }

  /* Sticky Columns */

  .sticky {
    position: sticky;
    left: 0;
  }

  .nested {
    position: sticky;
    top: 27px;
    z-index: 2;
  }

  th {
    background: rgb(50, 50, 50);
    color: white;
    border-right: 1px solid black;
  }

  th > small {
    font-size: 80%;
    font-weight: 400;
  }

  main {
    overflow: auto;
    width: 100%;
  }

  td {
    background: white;
  }

  td small {
    color: rgb(45, 45, 45);
  }

  td[value="undefined"] {
    background: black;
  }

  td[value="TRUE"], td[value="FALSE"], td[value="true"], td[value="false"] {
    font-size:0;
  }

  td[value="TRUE"]:before, td[value="true"]:before {
    content: "✅";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  td[value="FALSE"]:before, td[value="false"]:before {
    content: "❌";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  td[value=""] {
    background: black;
  }
     

  #tabs {
    border-top: 1px solid black;
    width: 100vw;
    display: flex;
    overflow-x: auto;
    background: white;
    font-size: 90%;
  }

  #tabs div {
    cursor: pointer;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    padding: 10px 16px;
  }

  #tabs span {
    font-weight: bold;
  }

  #tabs > [selected] {
    color: rgb(8, 86, 255);
    background: rgb(225, 235, 255);
  }
